body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.dark{
    background-color: #232326;
    color: #F3F2F0;
}
.dark.nav-link{
    color: #F3F2F0;
}
.main{
    position: relative;
}
.h1{
    position: relative;
    z-index: 4;
}
.name{
    font-size: 28px;
    color: #F3F2F0;
    position: relative;
    z-index: 3;
}
.h1{
    font-size: 74px;
    text-transform: uppercase;
    color: #F3F2F0;
}
.photo{
    margin-bottom: 120px;
    width: 100%;
}
header{
    padding-top:  40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.nav{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-item{
    padding-left: 16px;
    padding-right: 16px;
}
.nav-item.first-child{
    padding-left: 0;
}
.nav-item.last-child{
    padding-right: 0;
}
.nav-link{
    text-decoration: none;
    color: #F3F2F0;
    font-size: 14px;
}
.nav-link:hover{
    color: #D40000;
}
.nav-info .nav-item{
    position: relative;
}
.nav-info .nav-item::before{
    content:'';
    width: 1px;
    height: 24px;
    background-color:rgba(243, 242, 240, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}
.nav-info.nav-item:first-child::before{
    display: none;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-top: 100px;
}
.social .social-item{
    position: relative;
}
.project{
    margin:0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.project-img{
    width: 16px;
    height: 12px;
    display: block;
    background-image: url(../img/arrow.svg);
    margin-left: 15px;
}
.title-h3{
    font-size: 16px;
    font-weight: 700;
}
.skill{
    display: flex;
    justify-content: space-between;
}
.skill-item{
    flex: 0 0 24%;
}
.skill .title-h3{
    text-transform: uppercase;
}
.skill .discription{
    line-height: 150%;
}
.elipse{
    fill: #D40000;
}
.traingle{
    fill: #FFF;
}
.elipse-main{
    width: 253px;
    height: 253px;
    position: absolute;
    left: -131px;
    top: calc(50%-12px);
    z-index: 1;
}
.traingle{
    position: absolute;
    left: -161px;
    top: 80px;
    z-index: 2;
}
.elipse-nav{
    width: 106px;
    height: 106px;
    position: absolute;
    top: -43px;
    right: 38px;
}
.steps-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.steps-title{
    font-size: 28px;
    line-height: 150%;
}
.steps-title span{
    margin-right:45px;
}
.steps-description{
    font-size: 16px;
}
.section-steps{
    padding-top: 180px;
    padding-bottom: 198px;
}